@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=b76e69ec54a7479c8a563f70595d666d'); /* IE9 */
  src: url('iconfont.eot?t=b76e69ec54a7479c8a563f70595d666d#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=b76e69ec54a7479c8a563f70595d666d') format('woff2'),
  url('iconfont.woff?t=b76e69ec54a7479c8a563f70595d666d') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=b76e69ec54a7479c8a563f70595d666d') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=b76e69ec54a7479c8a563f70595d666d#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e001";
}
.icon-arrow-left:before {
  content: "\e002";
}
.icon-arrow-right:before {
  content: "\e003";
}
.icon-dapps:before {
  content: "\e004";
}
.icon-error:before {
  content: "\e005";
}
.icon-eye-slash:before {
  content: "\e006";
}
.icon-eye:before {
  content: "\e007";
}
.icon-historys:before {
  content: "\e008";
}
.icon-jump:before {
  content: "\e009";
}
.icon-lock:before {
  content: "\e00a";
}
.icon-locked:before {
  content: "\e00b";
}
.icon-ok:before {
  content: "\e00c";
}
.icon-preferences:before {
  content: "\e00d";
}
.icon-receive:before {
  content: "\e00e";
}
.icon-security:before {
  content: "\e00f";
}
.icon-send:before {
  content: "\e010";
}
.icon-success:before {
  content: "\e011";
}
.icon-swap:before {
  content: "\e013";
}
.icon-tips:before {
  content: "\e014";
}
.icon-warning:before {
  content: "\e016";
}
.icon-web:before {
  content: "\e017";
}
.icon-del:before {
  content: "\e019";
}
.icon-copy:before {
  content: "\e01a";
}
.icon-add:before {
  content: "\e01b";
}
.icon-discord:before {
  content: "\e01c";
}
.icon-history:before {
  content: "\e01e";
}
.icon-search:before {
  content: "\e01f";
}
.icon-setting:before {
  content: "\e020";
}
.icon-wallet:before {
  content: "\e022";
}
.icon-x:before {
  content: "\e023";
}
.icon-close:before {
  content: "\e024";
}
.icon-sswap:before {
  content: "\e025";
}
.icon-delete:before {
  content: "\e028";
}
.icon-edit:before {
  content: "\e029";
}
.icon-unlink:before {
  content: "\e02c";
}
.icon-file:before {
  content: "\e02f";
}
.icon-import:before {
  content: "\e032";
}
.icon-remove:before {
  content: "\e033";
}
.icon-empty:before {
  content: "\e035";
}
.icon-move:before {
  content: "\e036";
}
.icon-loading:before {
  content: "\e037";
}
.icon-defaultImg:before {
  content: "\e038";
}
.icon-doc:before {
  content: "\e039";
}
.icon-avg:before {
  content: "\e03a";
}
.icon-fast:before {
  content: "\e03b";
}
.icon-slow:before {
  content: "\e03c";
}
.icon-network:before {
  content: "\e03f";
}
