#global-toast-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #181818;
}

#global-toast-container .toast {
    display: flex;
    align-items: center;
    transition-duration: 150ms;
    height: 0px;
    overflow: hidden;
}

#global-toast-container .toast-error {
    color: #FF2C40;
}

#global-toast-container .toast-success {
    color: #00C431;
}

#global-toast-container .toast-info {
    color: #FFCF13;
}

#global-toast-container .toast-icon {
    margin-right: 11px;
    margin-left: 20px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.toast-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
